.event-image{
    width: 100%;
    height: 60%;
}

.event-description{
    font-weight: bold;
    width: 50%;
    margin-left: 25%;
    
}

.event-adress{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.event-time{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.single-author{
    text-align: center;
}