#hero{

    height: 300px;

    @media screen and (max-width:768px){
        display: none;
        
    }

    @media screen and (min-width:1200px){
        height: 550px;
        
    }

    height: 650px;
    width: 100%;
    background: #f0f0f0;
}