.woocommerce{
    
    .woocommerce-input-wrapper{
        display:block;
        width: 100%;
    }


}

/* .woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{
    padding: 1rem;
    background:black;
} */

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
    text-align: center;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title{
    font-size: 25px;
}

.woocommerce ul.products li.product .price{
    font-size: 20px;
}

.woocommerce .woocommerce-ordering select{
    display: none;
}

.page-title{
    display: none;
}

.woocommerce .woocommerce-result-count{
    display: none;
}
