.woocommerce{
    
    .woocommerce-input-wrapper{
        display:block;
        width: 100%;
    }


}

/* .woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{
    padding: 1rem;
    background:black;
} */

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
    text-align: center;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title{
    font-size: 25px;
}

.woocommerce ul.products li.product .price{
    font-size: 20px;
}

.woocommerce .woocommerce-ordering select{
    display: none;
}

.page-title{
    display: none;
}

.woocommerce .woocommerce-result-count{
    display: none;
}

.woocommerce-loop-product__title{
    text-align: center;
   
}

.col-lg-4{
    text-align: center !important;
}

bdi{
    text-align: center;
    color: green;   
}

.wc-stripe-elements-field{
    width: 300px;
}

.woocommerce-order{
    background-color: #FFF;
    padding: 2%;
    box-shadow: 3px 5px 10px black;
    border-radius: 0.5rem;
}
