.woocommerce{
    
    .woocommerce-input-wrapper{
        display:block;
        width: 100%;
    }

    .product{
        margin-top: 3% !important;
    }

    .page-title{
        margin-top: 5% !important;
    }

}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{
    padding: 1rem;
    background:black;
}