.woocommerce{
    
    .woocommerce-input-wrapper{
        display:block;
        width: 100%;
    }

    .product{
        margin-top: 3% !important;
    }

    .page-title{
        margin-top: 5% !important;
    }
}